body {
    background-color:	#6A994E	!important;
    top: 0% !important;
    display: grid;
    min-height: 50% !important;
}

body h1 font{
    font-size: 50px;
}

body font{
    font-size: x-large;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    max-height: 80px;
    background: radial-gradient(circle, #6A994E 40%, #6A994E 70%);
    color: snow;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

img {
    width: auto;
}

.container_santa {
    display: flex;
    justify-content: center;
    top: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #FA0;
    align-items: center;

}


h2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: hsla(255, 255%, 255%, .1);
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
    color: #6A994E !important;
}
body > .skiptranslate {
    display: none;
}

.inputs {
    width: 75%;
    display: flex;
    flex-direction: row;
}

.inputs input {
    font-size: x-large;
    width: 100%;
    height: 35px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: none;
    padding-left: 10px;
    font-weight: bold;
    border: 2px solid #FA0;
}



.inputs button {
    width: 50px;
    background: radial-gradient(circle, gold 0%, #FA0 70%);
    color: darkgreen;
    font-weight: bold;
    font-size: large;
    border: 2px solid gold;
}

.inputs .search {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: none;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    overflow: visible !important;
}

.inputs .location {
    height: max-content;
    background-color: white;
    width: 25%;
    height: 80%;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
}

.inputs>div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 100%;
}

button:hover {
    cursor: pointer;
    color: snow !important;
}

.search:hover {
    font-size: large;
}

button::selection {
    color: snow !important;
}

#output {
    color: snow;
}

::selection {
    background: #6A994E;
    color: snow;
}

::-moz-selection {
    background: #6A994E;
    /* Gecko Browsers */
    color: snow;
}

p {
    color: #044f18;
    font-size: 20px;
}

body footer{
    display: flex;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9%;
    background-color: #7caf5e;
    color: black;
    text-align: center; 
}

@media screen and (max-width: 1000px) {
    footer{
        flex-direction: column;
    }
}

footer > div {
    display: flex;
    flex-wrap: wrap;
}

.primaryfooter{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.secondaryfooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.donate {  
    background-color: #BC4749;
    color: #044f18;
    border-radius: 40px;
    padding: 10px;
    width: 130px;
    font-size: 20px;
}

.donate:hover {
    cursor: pointer;
}

.animals {
    width: auto;
}

.foundations {
    color: snow;
    display: flex
    ;
}

.algosup {
    bottom: 0;
    right: 0;
}

.logo {
    bottom: 0;
    display: flex;
}


.suggestions {
    font-size: 18px;
    list-style-type: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: beige;
    width: 89.5%;
    padding-left: 0;
    overflow-y: auto;
}

.suggestions * {
    font-size: 20px;
}

.suggestions li {
    cursor: pointer;
    border-bottom: 0.1px grey solid;
    padding-left: 10px;
}

@media (max-width : 320px) {
    #google_translate_element {
        width: 100%;
    }  
}