body {
    background-color: #f9f7f2 !important;
    margin: 0px;
    overflow: hidden;
    font-family: 'Molle', cursive !important;
    top:0 !important;
}

.header {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: radial-gradient(circle, #6A994E 40%, #6A994E 70%);
    color: snow;
    text-align: center;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

img {
    z-index: 5;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.container_santa {
    z-index: 3;
    top: 30vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(110, 145, 7, 1);
    align-items: center;

}

.container h1 {
    text-align: center;
}

h2 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: hsla(255, 255%, 255%, .1);
}

#google_translate_element {
    position: absolute;
    top: 0;
    right: 0;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
    color: #6A994E !important;
}
body > .skiptranslate {
    display: none;
}

.inputs {
    width: 60%;
    display: flex;
    flex-direction: row;

}

.inputs input {
    width: 100%;
    border-top-left-radius: 40px;
    border-right: none;
    padding-left: 10px;
    font-weight: bold;
    border: 2px solid #6A994E;
}

.inputs button {
    width: 50px;
    background: radial-gradient(circle, rgba(110, 145, 7, 1) 0%, rgba(110, 145, 7, 1) 70%);
    color: snow;
    border: 2px solid rgba(110, 145, 7, 1);
}

.inputs .search {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: none;
}

.inputs .countries button {
    border-radius: 40px;
    color: snow
}

.inputs .location {
    background-color: white;
    width: 30%;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
}

.inputs>div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 100%;
}

button:hover {
    cursor: pointer;
    color: snow !important;
}

.search:hover {
    font-size: large;
}

button::selection {
    color: snow !important;
}

#output {
    color: snow;
}

::selection {
    background: #6A994E;
    color: snow;
}

::-moz-selection {
    background: #6A994E;
    /* Gecko Browsers */
    color: snow;
}

p {
    color: #BC4749;
    font-size: 20px;
}

.donate {
    background-color: #BC4749;
    color: snow;
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 0%;
    text-align: left;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.suggestions {
    font-size: large;
    list-style-type: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: beige;
    width: 89.5%;
    padding-left: 0;
    overflow-y: auto;
}

.suggestions li {
    cursor: pointer;
    border-bottom: 0.1px grey solid;
    padding-left: 10px;
}