body font {
    font-size: x-large; 
}

body {
    top: 0% !important;
    height: 100vh;
    /* display: flex; */
    /* min-height: 50% !important; */
    /* flex-direction: column; */
    overflow: hidden;
}

img {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.merry {
    width: 100%;
    margin-right: 3%;
}

.container_santa {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* top: 25vh; */
    /* display: flex; */
    color: snow;
    align-items: center;
    /* position: relative; */
    /* transform: translate(0%, -50%); */

}

@media screen and (max-width: 345px) {
    body font {
        font-size: 5vw;
    }
}
.image-color {
    filter: contrast(0.1);
}

h2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: hsla(255, 255%, 255%, .1);
    display: flex;
    flex-wrap: wrap;
}
#google_translate_element {
    position: relative;
    left: 0vw;
    bottom: 0vw;
    display: flex;
}

#google_translate_element select {
    background: #f6edfd;
    color: #383ffa;
    border: blue;
    border-radius: 3px;
    padding: 6px 8px
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
    color: #094f81 !important;
}

body>.skiptranslate {
    display: none;  
}

.inputs {
    z-index: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.inputs input {
    font-size: large;
    width: 100%;
    height: 35px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: none;
    padding-left: 10px;
    font-weight: bold;
    border: 2px solid #0F52BA;
    color: #0047AB;
}



.inputs button {
    width: 50px;
    background: radial-gradient(circle, #0047AB 0%, #0047AB 70%);
    color: snow;
    font-weight: bold;
    font-size: large;
    border: 2px solid #0047AB ;
}

.inputs .search {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: none;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    overflow: visible !important;
}

.inputs .location {
    height: max-content;
    /* background-color: white; */
    width: auto;
    height: 100%;
    place-self: center;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
}

.inputs>div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 100%;
}

button:hover {
    cursor: pointer;
    color: snow !important;
}

.search:hover {
    font-size: large;
}

button::selection {
    color: snow !important;
}

#output {
    color: snow;
}

::selection {
    background: #075187;
    color: snow;
}

::-moz-selection {
    background: #044878;
    /* Gecko Browsers */
    color: snow;
}

.imgcontainers {
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: flex-end;
    width: 100%;
    bottom: 75px;
    /* height: 74vh; */
    max-height: 26vh;
    /* padding-bottom: 10%; */
    z-index: -1;

}


.sled{
    filter: contrast(0.1);
}

p {
    color: #044f18;
    font-size: 20px;
}

@media screen and (max-height: 760px) {
    .imgcontainers {
        width: 7vh;
    }
}

.about {
    background-color:#0047AB ;
    border: #0047AB;
    color: snow;
    border-radius: 40px;
    padding: 10px;
    width: 100%;
}

.about:hover {
    cursor: pointer;
}

.about font {
    font-size: medium !important;
}

.donate {
    background-color:#0047AB ;
    border: #0047AB;
    color: snow;
    border-radius: 40px;
    padding: 10px;
    width: 100%;
}

.donate:hover {
    cursor: pointer;
}

.donate font {
    font-size: medium !important;
}

.suggestions
 {
    position: absolute;
    z-index: 5;
    font-size: 18px;
    list-style-type: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #6CA0DC;
    /* top: 105px; */
    width: 70vw;
    padding-left: 0;
    overflow-y: auto;
    color: #0047AB;
}

.suggestions * {
    font-size: 20px;
}

.suggestions li {
    cursor: pointer;
    border-bottom: 0.1px grey solid;
    padding-left: 10px;
}

.popup_calendar {
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    padding: 10%;
    padding-top: 3%;
    display: none;
}

#calendar_btn {
    /* margin-top: 0.25%; */
    max-height: 35px;
    max-width: 35px;
    /* width: fit-content; */
    background-color: #0047AB;
    margin-right: 15px;
    padding: 4px;
    border-radius: 40px;
    border: 2px solid #0047AB;
    animation: color 3s infinite linear;
}

#calendar_btn img {
    /* width: 6vh !important; */
    filter: invert(1);
    mix-blend-mode: plus-lighter;
    width: 100%;
    height: 100%;
}


#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7vh, 1fr));
    grid-gap: .6%;
    background-color: green;
    border-style: solid;
    border-left-width: 1vw;
    border-right-width: 1vw;
    border-top-width: 1vh;
    border-bottom-width: 2.5vh;
    border-color: green;
}

#grid>div {
    font-size: 7vw;
    color: #fff200;
    background: #e40000;
    text-align: center;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0.5vh;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

#tooSoon {
    z-index: 999;
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 99vh;
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
}

#tooSoon>p {
    background-color: #e40000;
    border-radius: 1vw;
    border-style: solid;
    border-width: 1vh;
    padding: 2vh;
    border-color: #fff200;
    font-size: 6vw;
    width: fit-content;
    height: fit-content;
    color: #fff200;
}

#tooSoon>p font{
    font-size: 6vw;
}

@media (min-aspect-ratio: 240/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(8vh, 1fr));
    }

    #grid>div {
        font-size: 9vw;
    }

    #tooSoon>p {
        font-size: 10vw;
    }
}

@media (min-aspect-ratio: 450/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(9vh, 1fr));
    }

    #grid>div {
        font-size: 8vw;
    }

    #tooSoon>p {
        font-size: 10vw;
    }
}

@media (min-aspect-ratio: 650/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(12vh, 1fr));
    }

    #grid>div {
        font-size: 7vw;
    }

    #tooSoon>p {
        font-size: 8vw;
    }
}

@media (min-aspect-ratio: 850/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(14vh, 1fr));
    }

    #grid>div {
        font-size: 6vw;
    }

    #tooSoon>p {
        font-size: 7vw;
    }
}

@media (min-aspect-ratio: 1100/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(14vh, 1fr));
    }

    #grid>div {
        font-size: 5vw;
    }

    #tooSoon>p {
        font-size: 7vw;
    }
}

@media (min-aspect-ratio: 1400/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(16vh, 1fr));
    }

    #grid>div {
        font-size: 4.8vw;
    }

    #tooSoon>p {
        font-size: 5vw;
    }
}

@media (min-aspect-ratio: 1800/750) {
    #grid {
        grid-template-columns: repeat(auto-fill, minmax(18vh, 1fr));
    }

    #grid>div {
        font-size: 3.5vw;
    }

    #tooSoon>p {
        font-size: 3vw;
    }
}

.cross {
    background-color: red;
    /* Green */
    border-radius: 0%;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
}

#big_image {
    display: none;
    justify-content: center;
}

.imgdisp {
    height: auto;
    max-height: 70vh;
    width: 90vw;
}

@media (min-aspect-ratio: 1/1) {
    .popup_calendar {
        padding-top: 1%;
    }

    .imgdisp {
        height: 70vh;
        width: auto;
        max-width: 80vw;
    }
}


/* Countdown timer */


.flip-clock {
    text-align: center;
    perspective: 400px;
    margin: 20px auto;
    /*,
    *:before,
    *:after { box-sizing: border-box; }*/
}

.flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
}

.flip-clock__slot {
    font-size: 2vw;
}
.flip-clock__slot > font {
    font-size: 3vw;
}

.card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    ;
    font-size: 9vw;
    line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 0.72em;
    ;
    color: #fff;
    background: #222;
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 1.8em;
    transform: translateZ(0);
}

.card__bottom {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #000;
    border-radius: 0 0 0.15em 0.15em;
    ;
    pointer-events: none;
    overflow: hidden;
}

.card__bottom::after {
    display: block;
    margin-top: -0.72em;
    ;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

.card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.flip .card__back::before {
    animation: flipTop 0.3s cubic-bezier(.37, .01, .94, .35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

.flip .card__back .card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(.15, .45, .28, 1);
    /* 0.3s; */
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }

    0%,
    99% {
        opacity: 0.99;
    }

    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipBottom {

    0%,
    50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }

    51% {
        opacity: 0.99;
    }

    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }
}

.imgico {
    border-radius: 1vh;
    height: 100%;
    width: 100%;
}

.epic {
    background-color: rgb(255, 127, 255);
    display: flex;
    justify-content: center;
}

.epic>p {
    font-weight: bold;
    color: #fff;
    text-shadow: 0.5vh 0.5vh #000;
}

.common {
    background-color: rgb(119, 255, 74);
    display: flex;
    justify-content: center;
}

.common>p {
    font-weight: bold;
    color: #fff;
    text-shadow: 0.5vh 0.5vh #000;
}

.rare {
    background-color: rgb(71, 182, 255);
    display: flex;
    justify-content: center;
}

.rare>p {
    font-weight: bold;
    color: #fff;
    text-shadow: 0.5vh 0.5vh #000;
}

.legendary {
    background-color: #ffd700;
    display: flex;
    justify-content: center;
}

.legendary>p {
    font-weight: bold;
    color: #000;
    text-shadow: 0.5vh 0.5vh #fff;
}

.mythical {
    background-color: #e30000;
    display: flex;
    justify-content: center;
}

.mythical>p {
    font-weight: bold;
    color: #000;
    text-shadow: 0.5vh 0.5vh #fff;
}

.cico {
    background-color: rgb(119, 255, 74) !important;
    border-color: rgb(119, 255, 74) !important;
}

.rico {
    background-color: rgb(71, 182, 255) !important;
    border-color: rgb(71, 182, 255) !important;
}

.eico {
    background-color: rgb(255, 127, 255);
    border-color: rgb(255, 127, 255) !important;
}

.lico {
    background-color: #ffd700 !important;
    border-color: #ffd700 !important;
}

.mico {
    background-color: #e30000 !important;
    border-color: #e30000 !important;
}

.formWidth{
    width: 70vw;
}

#rarity>p {
    font-size: 11vw;
}

@media (min-aspect-ratio: 1/1) {
    #rarity>p {
        font-size: 11vh;
    }
}

#goog-gt-tt{
    display: none !important;
}